@model PC_Part_picker.ViewModels.PartViewModel

<p>
    <a asp-action="CreateCooler">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cooler.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooler.First().Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooler.First().Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooler.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooler.First().Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooler.First().Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cooler)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    <a asp-action="EditCooler" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DetailsCooler" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteCooler" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
