@model PC_Part_picker.ViewModels.PartViewModel

<p>
    <a asp-action="CreatePart" asp-route-partName="cpu">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cpu.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpu.First().Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpu.First().Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpu.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpu.First().Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpu.First().Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cpu)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    <a asp-action="EditPart" asp-route-id="@item.Id" asp-route-partName="cpu">Edit</a> |
                    <a asp-action="DetailsPart" asp-route-id="@item.Id" asp-route-partName="cpu">Details</a> |
                    <a asp-action="DeletePart" asp-route-id="@item.Id" asp-route-partName="cpu">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
