@model PC_Part_picker.Models.Build

@{
    var firstBuild = ViewBag.CompareFirstBuild;
    var secondBuild = ViewBag.CompareSecondBuild;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motherboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gpu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Psu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (firstBuild != null)
            {
                <td>
                    @firstBuild.Id
                </td>
                <td>
                    @firstBuild.Name
                </td>
                <td>
                    @firstBuild.Rating
                </td>
                <td>
                    @firstBuild.RatingCount
                </td>
                <td>
                    @firstBuild.Price
                </td>
                <td>
                    @firstBuild.Cpu.Name
                </td>
                <td>
                    @firstBuild.Cooler.Name
                </td>
                <td>
                    @firstBuild.Motherboard.Name
                </td>
                <td>
                    @firstBuild.Ram.Name
                </td>
                <td>
                    @firstBuild.Storage.Name
                </td>
                <td>
                    @firstBuild.Gpu.Name
                </td>
                <td>
                    @firstBuild.Psu.Name
                </td>
                <td>
                    @firstBuild.Case.Name
                </td>
                <td>
                @{
                    if(secondBuild != null){
                        <a asp-controller="Builds" asp-action="ListBuilds" asp-route-buildPlace="first" asp-route-first="@firstBuild.Id" asp-route-second="@secondBuild.Id">Change</a>
                    }else{
                        <a asp-controller="Builds" asp-action="ListBuilds" asp-route-buildPlace="first" asp-route-first="@firstBuild.Id" asp-route-second="@null">Change</a>
                    }
                }
                </td>
            }
            else
            {
                <td>
            @{
                if (secondBuild != null)
                {
                    <a asp-controller="Builds" asp-action="ListBuilds" asp-route-buildPlace="first" asp-route-first="@null" asp-route-second="@secondBuild.Id">Choose Build</a>
                }
                else
                {
                    <a asp-controller="Builds" asp-action="ListBuilds" asp-route-buildPlace="first" asp-route-first="@null" asp-route-second="@null">Choose Build</a>
                }
            }
                </td>
            }
        </tr>
        <tr>
            @if (secondBuild != null)
            {
                <td>
                    @secondBuild.Id
                </td>
                <td>
                    @secondBuild.Name
                </td>
                <td>
                    @secondBuild.Rating
                </td>
                <td>
                    @secondBuild.RatingCount
                </td>
                <td>
                    @secondBuild.Price
                </td>
                <td>
                    @secondBuild.Cpu.Name
                </td>
                <td>
                    @secondBuild.Cooler.Name
                </td>
                <td>
                    @secondBuild.Motherboard.Name
                </td>
                <td>
                    @secondBuild.Ram.Name
                </td>
                <td>
                    @secondBuild.Storage.Name
                </td>
                <td>
                    @secondBuild.Gpu.Name
                </td>
                <td>
                    @secondBuild.Psu.Name
                </td>
                <td>
                    @secondBuild.Case.Name
                </td>
                <td>
                    @{
                        if (firstBuild != null)
                        {
                            <a asp-controller="Builds" asp-action="ListBuilds" asp-route-buildPlace="second" asp-route-first="@firstBuild.Id" asp-route-second="@secondBuild.Id">Change</a>
                        }
                        else
                        {
                            <a asp-controller="Builds" asp-action="ListBuilds" asp-route-buildPlace="second" asp-route-first="@null" asp-route-second="@null">Change</a>
                        }
                    }
                </td>
            }
            else
            {
                <td>
                    @{
                        if (firstBuild != null)
                        {
                            <a asp-controller="Builds" asp-action="ListBuilds" asp-route-buildPlace="second" asp-route-first="@firstBuild.Id" asp-route-second="@null">Choose Build</a>
                        }
                        else
                        {
                            <a asp-controller="Builds" asp-action="ListBuilds" asp-route-buildPlace="second" asp-route-first="@null" asp-route-second="@null">Choose Build</a>
                        }
                    }
                </td>
            }

        </tr>
    </tbody>
</table>


