@model IEnumerable<PC_Part_picker.ViewModels.CompatibilityViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>First Part Name</th>
        <th>Second Part Name</th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstPart.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondPart.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Compatibility.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Compatibility.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Compatibility.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
